* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.png'), linear-gradient(rgb(0, 0, 0), rgb(18, 41, 58),    rgb(18, 41, 58) ,rgb(0, 0, 0));
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 560px;
    width: auto;
    color: white;
    border: 1px solid #238cc9;
}

.banner-content {
    text-align: center;
    margin: 30px;
}

.banner-content > h1 {
    color: #238cc9;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 40px;
    
}

.banner-content > p {
    width: 400px;
    margin-bottom: 20px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-mono{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: bold;
}

.banner-content > button {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    background-color: #141b1f00;
    color: #238cc9;
    border: 1px solid #238cc9;
    padding: 12px 40px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.15s;
}

.banner-content > button:hover {
    background-color: #238cc9;
    color: white;
    transition: 0.15s;
}

.banner-content > button:active {
    background-color: #1a597e;
    color: rgb(196, 193, 193);
    border: none;
    transition: 0.15s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;      /* tamanho do círculo */
    height: 260px;
    margin: 0 auto;    /* centraliza dentro do header */

    background-color: #11111142;     /* cor de fundo do círculo */
    border-radius: 50%;         /* deixa redondo */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7); /* sombra difusa */
}

main {
    height: 1500px;
}

#course-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 60px;
    padding-bottom: 150px;
    background-color: black;
    color: white;
    border: 1px solid #238cc9;
}

#course-content > h2 {
    font-family: "Roboto Mono", monospace;
    margin: 20px;
    font-size: 28px;
    color: #238cc9;
}

#course-content > p {
    width: 800px;
    margin-bottom: 10px;
    font-size: 15px;
}


.module {
    border: 1px solid #238cc9;
    border-radius: 30px;
    padding: 15px 10px;
    margin: 30px;
    width: 500px;
    background-color: #2d2e2e;
    text-align: center;
    box-shadow: inset 1px 5px 10px rgba(0, 0, 0, 0.541);
}

.module > span {
    color: #238cc9;
}

